* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure.instagram {
  background-image: url(./images/dougie.png);
  background-size: covers;
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

figure.instagram div {
  width: 200px;
  height: 200px;
  border: 15px solid red;
}

figure.instagram div:hover {
  background-color: rgba(black, black, black, 0.7);
}
